.about__container {
    max-width: 400px;
    margin-bottom: 80px;
}

.about__title {
    font-family: "Comfortaa";
    font-size: 50px;
    margin-bottom: 20px;
}

.about__text:not(:last-child) {
    margin-bottom: 20px;
}