/* @import url(normalize.css);
@import url(about.css);
@import url(help.css);
@import url(connect.css);
@import url(address.css); */


@font-face {
    font-family: "Helvetica Neue Cyr";
    src: local("HelveticaNeueCyr-Light"), url(../fonts/HelveticaNeueCyr-Light.woff2) format("woff2"),
        url(../fonts/HelveticaNeueCyr-Light.woff) format("woff");
    font-weight: 300;
    font-display: auto;
}

@font-face {
    font-family: "Helvetica Neue Cyr";
    src: local("HelveticaNeueCyr-Roman"), url(../fonts//HelveticaNeueCyr-Roman.woff2) format("woff2"),
        url(../fonts/HelveticaNeueCyr-Roman.woff) format("woff");
    font-weight: 400;
    font-display: auto;
}

@font-face {
    font-family: "Helvetica Neue Cyr";
    src: local("HelveticaNeueCyr-Medium"), url(../fonts//HelveticaNeueCyr-Medium.woff2) format("woff2"),
        url(../fonts/HelveticaNeueCyr-Medium.woff) format("woff");
    font-weight: 500;
    font-display: auto;
}
/* 
@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"), url(../fonts//Comfortaa-Regular.woff2) format("woff2"),
        url(../fonts/Comfortaa-Regular.woff) format("woff");
    font-weight: 400;
    font-display: auto;
} */

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: "Helvetica Neue Cyr", serif; 
    font-size: 20px;
    font-weight: 300;
    color: #282626;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3,
h4, p, li, ol {
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

input {
    margin: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 30px;
}

img {
    object-fit: cover;
}

figure {
    margin: 0;
    padding: 0;
}

figcaption {
    margin: 0;
    padding: 0;
}

@media (max-width: 1240px) {
    .container {
        max-width: 920px;
        padding: 0 20px;
    }
}

@media (max-width: 940px) {
    .container {
        max-width: 730px;
        padding: 0 15px;/* тут поменял с 800px*/
    }
}

@media (max-width: 450px) {
    .container {
        max-width: 290px;
        padding: 0 10px;
    }
}


